.cm-diff-added-line {
  background-color: rgba(34, 197, 94, 0.15);
  border-left: 3px solid rgb(34, 197, 94);
}

.cm-diff-removed-line {
  background-color: rgba(239, 68, 68, 0.15);
  border-left: 3px solid rgb(239, 68, 68);
  text-decoration: line-through;
  opacity: 0.7;
}
